<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

	<div class="main-content">
		{{>header}}
		<h2>{{title}}</h2>

		<p>This site was created by Tommy D'Ascoli.  It utilizes the alphantage API and will soon incorporate stock news into it as well.</p>
	</div>

</body>
</html>