<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

	<div class="main-content">
		{{>header}}
		<p>{{title}}</p>
		<p>{{msg}}</p>
	</div>

</body>
</html>